 .Site {
   text-align: left;
 }


 .Site-header {
   background-color: #2381add5;
   background-size: auto;
   display: flex;
   position: sticky;
 }



 .Names {
   align-self: left;
   font-family: 'Times';
 }


 #Title-name {
   color: rgb(1, 0, 39);
   text-indent: 10px;
   margin: 5px;
   padding: 0;
 }

 #Nickname {
   text-indent: 75px;
   color: rgba(202, 205, 206, 0.993);
   font-style: oblique;
   margin: 5px;
   padding: 0;
 }

 .navBar-nav {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #2381add5;
   position: absolute;
   top: 15px;
   right: 0px;
 }

 .nav-item {
   float: right;
 }

 .nav-item .nav-link {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }

 .nav-item .nav-link:hover {
   background-color: rgba(2, 156, 177, 0.993);
 }

 /*
 */